@import "tailwindcss";


body {
    font-family: "Lexend", sans-serif;
}


body {
  overflow-x: hidden;
}


@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes slideOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.slide-in-left {
    animation: slideInLeft 0.5s ease-in-out forwards;
}

.slide-in-right {
    animation: slideInRight 0.5s ease-in-out forwards;
}

.slide-out-left {
    animation: slideOutLeft 0.5s ease-in-out forwards;
}

.slide-out-right {
    animation: slideOutRight 0.5s ease-in-out forwards;
}

@keyframes ping-slow {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-ping-slow {
  animation: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
